.the-Add-ons>span{
  display: inline-block;
  width: 20px;
}
.Add-ons-img{
  width: 80px;
  height: 80px;
  border-radius: 5px;
  overflow: hidden;
}
.Add-ons-detiles>span {
  color: #00000080;
  font-size: 22px;
  font-weight: 400;
}