
// *******************
.space-3{
 display: block;
 width: 60px;
 position: relative;
}
span.space-3:before {
 position: absolute;
 width: 1px;
 height: 50px;
 background: #0000002e;
 top: 0;
 left: 50%;
 content: '';
}
// *************************************************************
.Facilities-and-Amenities {
  font-family: lato;
  color: #404040;
  margin-top: 40px !important;
  // width: 80% !important;
  span{
    font-size: 24px;
    font-weight: 700;
    display: block;
  }
  em{
    font-size: 18px;
    font-weight: 600;
    margin: 24px 0;
    display: block;
  }
  li{
    list-style: none;
  }
}
.Floorplan-img:hover {
  transition: .2s ease-in-out;
  width: 50%;
}
// *******************
.content {
  width: 100%;
  .list {
    margin-top: 18px;
    padding: 0;
    flex-wrap: wrap;
    .list__item {
      margin: 0 0 1.5rem 0;
      padding: 0;
      width: 30%;
      display: inline-block;
      color: #BFBFBF;
      font-family: Regular,Lato;
    }
    
  }
}

span.kabbbel{
font-size: 14px !important;
font-weight: 400 !important;
display: inline-block !important;
}
span.border-butm-2 {
  display: block;
  padding-top: 40px;
  border-bottom: 1px solid #b8b8b8;
}
.Floorplan {
  margin-top: 40px;
  font-family: Sansita;
  color: #000000;
  width: 100%;
}
.Floorplan-img {
  margin-top: 24px;
  height: 320px;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
  position: relative;
  width: 70%;
}
span.hover-color {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  background: #e2e2e280;
  visibility: hidden;
  transition: .3s ease-in-out;
}
.Floorplan-img:hover .hover-color{
  opacity:1;
  visibility:visible;
}
span.hover-color .mat-icon {
  position: absolute;
  left: 43%;
  top: 39%;
  font-size: 95px;
  color: #fff;
  transform: translate(-50%, -50%);
}
// *******************
label.checkbox em {
  margin: 0 11px!important;
}
label.checkbox {
  width: 27%;
  margin: 10px 0;
  position: relative;
}
span.tittle {
  font-size: 14px !important;
  color: #000000;
  font-weight: 400 !important;
  position: relative;
}
// label.checkbox.off span.tittle{
//   color: #BFBFBF;
// }
// label.checkbox.off span.tittle:before{
//   content: "";
//   position: absolute;
//   left: 0;
//   top: 12px;
//   width: 100%;
//   height: 2px;
//   background: #BFBFBF;
// }
// label.checkbox.off em {
//   visibility: hidden;
// }