<div class="Add-ons mt-5">
<span>Add-ons</span>
  <div class="Add-ons-detiles mt-4">
    <app-add-ons-card></app-add-ons-card>
  </div>
  <!-- ************************** -->
  <div class="Add-ons-detiles mt-4">
    <app-add-ons-card></app-add-ons-card>
  </div>
  <!-- ************************** -->
  <div class="Add-ons-detiles mt-4">
    <app-add-ons-card></app-add-ons-card>
  </div>
  <!-- ************************** -->
  <div class="Add-ons-detiles mt-4">
    <app-add-ons-card></app-add-ons-card>
  </div>
  <!-- ************************** -->
  <div class="Add-ons-detiles mt-4">
    <app-add-ons-card></app-add-ons-card>
  </div>
  <!-- ************************** -->
</div>