<div class="img-slider">
  <div class="the-img-slider d-block">
    <div class="slider-img">
      <img src="assets/component (9).png" alt="">
      <span class="icon">
        <mat-icon>favorite_border</mat-icon>
        <em class="add-list">add to wishlist</em>
      </span>
    </div>
    <span class="descound">
      50% OFF
    </span>
    <div class="detil">
      <h6>Fancy Catering service</h6>
      <span>Starts from</span>
      <h3>400,111 EGP</h3>
      <h5>
        Maadi <em> <span class="border ">hotel</span>
          <mat-icon>people_outline</mat-icon> 200
        </em>
      </h5>
    </div>
  </div>
</div>


<!-- <div class="img-slider">
  <div class="the-img-slider d-block">
    <div class="slider-img">
      <img [src]="
          service.image
            ? service.image
            : '../../../../assets/OGF9H290.png'
        " alt="" />
      <span class="icon">
        <mat-icon>favorite_border</mat-icon>
        <em class="add-list">add to wishlist</em>
      </span>
    </div>
    <span class="descound" *ngIf="service.offer">
      {{ service.offer }}
    </span>
    <div class="detil">
      <h6>{{ service.name }}</h6>
      <span>Starts from</span>
      <h3>{{ service.price }}</h3>
      <h5>
        {{ service.neighborhood }}
        <em>
          <mat-icon>people_outline</mat-icon>{{ service.max_capacity }}
        </em>
      </h5>
    </div>
  </div>
</div> -->