.slider-img {
  position: relative;
  margin: 0 8px;
  height: 210px;
  border-radius: 10px;
  overflow: hidden;
  .icon {
    position: absolute;
    top: 9px;
    right: 0;
    width: 38px;
    height: 38px;
    margin: 10px;
    color: #23a1a2;
    direction: initial;
  }
}
.img-slider{
  position: relative;
  cursor: pointer;
}
.the-img-slider h6 {
  font-size: 22px;
  margin: 14px;
  color: #000000;
}
.the-img-slider span {
  margin: 14px;
  font-size: 16px;
  color: #00000080;
}
.the-img-slider h3 {
  margin: 11px;
  font-size: 22px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 5px;
}
.the-img-slider h5 {
  margin: 17px;
  font-size: 16px;
  margin-top: 0;
  color: #8686866b;
}
.img-slider h5 em {
  margin: 0 2px;
  font-style: normal;
  span{
    padding: 2px 7px;
    margin: 0 3px;
    border-radius: 5px;
  }
}
span.descound {
  position: absolute;
  top: 0;
  left: 8px;
  width: 107px;
  height: 36px;
  background: #f48271;
  margin: 0 !important;
  line-height: 38px;
  border-radius: 4px;
  color: #fff !important;
  font-size: 16px;
  align-items: center;
  padding: 0 17px;
}


.icon {
  position: absolute;
  top: 0;
  right: 0px;
  margin: 10px;
  font-size: 25px !important;
  color: #23a1a2;
  z-index: 1;
  &:hover em.add-list {
    opacity: 1;
    visibility: visible;
    transition: 0.3s ease-in-out;
    transform: translateX(-4px);
    z-index: -1;
    width: 150px;
    color: #fff;
  }
  &:hover .material-icons {
    color: #fff !important;
  }
}
.icon:before {
  content: '';
  position: absolute;
  top: -8px;
  right: 6px;
  background: #ffffffb3;
  width: 40px;
  height: 40px;
  border-radius: 19px;
  z-index: -1;
}
em.add-list {
  position: absolute;
  font-size: 14px;
  width: 100px;
  right: 0;
  top: 0;
  padding: 0 20px;
  height: 27px;
  line-height: 25px;
  border-radius: 19px;
  transition: 0.3s ease-in-out;
  transform: translateX(-3px);
  opacity: 0;
  visibility: hidden;
}
em.add-list:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -1px;
  width: 100%;
  background: #23a1a2;
  height: 40px;
  z-index: -1;
  border-radius: 19px;
}
.detil h5 .mat-icon{
  color: #868686;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
}
.detil > h5 >em >span{
  margin: 0;
  padding: 2px 8px;
  border-radius: 3px;
  .mat-icon{
    color: #868686;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: 4px;
  }
}
.detil > h5{
  margin: 0 !important;
  display: flex;
  em{
    display: flex;
  }
}
// ***************************************medi-screen*********************************************
@media only screen and (max-width:1680px){
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 15px !important;
    padding: 0px 24px;
  }
  .icon {
    position: absolute;
    &:hover em.add-list {
      width: 135px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}

// // *************************** end-width ************************************
@media only screen and (max-width: 1600px) and (min-width: 1536px) {
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 12px !important;
    padding: 0px 14px;
  }
  .icon {
    position: absolute;
    &:hover em.add-list {
      width: 124px;
      padding: 0 10px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}
// // *************************** end-width ************************************
@media only screen and (max-width: 1440px) and (min-width: 1370px){
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 12px !important;
    padding: 0px 10px;
  }
  .icon {
    position: absolute;
    top: 0;   
    top: 12px !important;
    margin: 0 !important;
    &:hover em.add-list {
      width: 124px;
      padding: 0 10px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}
// // *************************** end-width ************************************
@media only screen and (max-width: 1366px) and (min-width: 1280px){
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 12px !important;
    padding: 0px 14px;
  }
  .icon {
    position: absolute;
    &:hover em.add-list {
      width: 124px;
      padding: 0 10px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}
// *************************** end-width ****************************
@media only screen and (max-width: 1280px) and (min-width: 1200px){
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 12px !important;
    padding: 0px 14px;
  }
  .icon {
    position: absolute;
    &:hover em.add-list {
      width: 124px;
      padding: 0 10px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}