<div class="head">
  <h3>New in our Blog</h3>
  <div class="row">
    <div class="col-4 blog-img">
      <img src="assets/component (15).png" alt="" />
      <div class="detile">
        <h6>Dec, 12, 2020 12 Comment</h6>
        <h4>Something Great Dina wrote</h4>
        <button type="button" class="btn btn-outline-primary">Read more</button>
      </div>
    </div>
    <div class="col-4 blog-img">
      <img src="assets/component (16).png" alt="" />
      <div class="detile">
        <h6>Dec, 12, 2020 12 Comment</h6>
        <h4>Something Great Dina wrote</h4>
        <button type="button" class="btn btn-outline-primary">Read more</button>
      </div>
    </div>
    <div class="col-4 blog-img">
      <img src="assets/component (17).png" alt="" />
      <div class="detile">
        <h6>Dec, 12, 2020 12 Comment</h6>
        <h4>Something Great Dina wrote</h4>
        <button type="button" class="btn btn-outline-primary">Read more</button>
      </div>
    </div>
  </div>
 
  <div class="the-btn">
    <!-- <button type="button" class="btn btn-outline-primary last-btn">
      Read More Articles
    </button> -->
  </div>
 
</div>
