 .offers p {
   font-size: 18px;
   color: #7F7F7F;
 }
 .offers {
   margin-top: 40px;
 }
 .offer-img img {
   width: 65px;
   height: 65px;
   border-radius: 10px;
 }

 .offer-detiles >  div {
   margin: 18px 0;
 }
 .offer-detiles {
   margin-top: 40px;
 }
 .offer-img span {
   font-size: 18px;
   color: #000000;
   font-family: Regular, Lato;
   font-weight: 400;
   cursor: pointer;
 }

 .offer-money {
   font-size: 18px;
   color: #000000;
   font-weight: 600;
   cursor: pointer;
 }
 span.border-butm-2 {
   display: block;
   padding-top: 40px;
   border-bottom: 1px solid #b8b8b8;
 }
.Minimum-Deposit span {
  font-size: 28px;
  margin-bottom: 24px;
  margin-top: 40px;
  display: block;
  font-family: 'Sansita', sans-serif;
}
.Minimum-Deposit em {
  color: #7F7F7F;
  font-size: 18px;
}
span.space-2 {
  display: block;
  width: 30px;
}
// *******************
.data-services{
  margin-top: 42px;
  width: 100%;
}
span.data-services-type {
  display: block;
  width: 65px;
}
span.data-services-type em {
  display: block;
  font-size: 12px;
  color: #7F7F7F;
  margin-bottom: 5px !important;
  margin: 0 4px;
}
span.data-services-type span {
  display: flex;
}
.space-3{
  display: block;
  width: 60px;
  position: relative;
}
span.space-3:before {
  position: absolute;
  width: 1px;
  height: 50px;
  background: #0000002e;
  top: 0;
  left: 50%;
  content: '';
}