.Glories-img {
  height: 280px;
}
.Glories-detils>span {
  display: block;
  margin-bottom: 20px;
  font-size: 22px;
  color: #000000;
}
.Glories-detils>em {
  border: 1px solid #7070706e;
  border-radius: 5px;
  padding: 5px 15px;
  color: #00000080;
  margin-bottom: 20px;
  display: inline-block;
  font-size: 18px;
}
.Glories-detils>p {
  color: #7f7f7fbf;
  line-height: 22px;
}