h4 {
  text-align: center;
  font-size: 28px !important;
  color: #000000bf;
  text-transform: uppercase;
}

ul.menu {
  margin-top: 40px !important;
  padding: 0;
  padding-bottom: 40px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 89%;
    bottom: 0;
    height: 1px;
    background: #9d9da17a;
  }
  .click-now {
    display: inline-block;
    margin: 0px 10px;
    font-size: 20px;
    color: #3c3c4380 ;
    width: max-content;
    &:hover{
      color: #23a1a2;
    }
  }
}
.select{
  color: #23a1a2 !important;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 3px;
    background: #23a1a2;
    left: 0;
  }
}
.slider{
  direction: initial;
}
// .select {
//   color: #23a1a2 !important;
// }
::ng-deep .slider-img .icon span.material-icons {
  margin: 0 !important;
  font-size: 27px !important;
  color: #23a1a2 !important;
}
::ng-deep .slider-img .icon:hover span.material-icons {
  color: #fff !important;
}
 :host ::ng-deep .owl-nav .owl-prev {
   position: absolute !important;
   bottom: 160px !important;
  left: -60px !important;
   background: none !important;
   color: #ececec !important;
   font-size: 42px !important;
 }
 :host ::ng-deep .owl-nav .owl-next {
  position: absolute;
  bottom: 160px !important;
  right: -60px;
  background: none !important;
  color: #ececec !important;
  font-size: 42px !important;
}
.show-more{
  text-align: center;
  margin-top: 20px;
}
// ***************************************medi-screen*********************************************
@media only screen and (max-width:1680px){
  .click-now {
    font-size: 16px !important;
  }
  span.descound{
    width: max-content;
    font-size: 15px !important;
    padding: 0px 24px;
  }
  .icon {
    position: absolute;
    &:hover em.add-list {
      width: 135px;
    }
    &:hover .material-icons {
      color: #fff !important;
    }
  }
  em.add-list{
    font-size: 12px !important;
    width: 135px;
  }
  .the-img-slider h6 {
    font-size: 18px;
    margin: 14px;
    color: #000000;
  }
  .the-img-slider h3{
    font-size: 16px;
  }
}
// // *************************** end-width ************************************
@media only screen and (max-width: 1600px) and (min-width: 1536px) {
  .click-now {
    font-size: 14px !important;
  }
}
// // *************************** end-width ************************************
@media only screen and (max-width: 1440px) and (min-width: 1370px){
  .click-now {
    font-size: 14px !important;
  }
}
// // *************************** end-width ************************************
@media only screen and (max-width: 1366px) and (min-width: 1280px){
  .click-now {
    font-size: 14px !important;
  }
}
// *************************** end-width ****************************
@media only screen and (max-width: 1280px) and (min-width: 1200px){
  .click-now {
    font-size: 12px !important;
  }
}