<div class="container">
  <h4 i18n="@@tvenues">venues</h4>
  <ul class="menu">
    <div class="click-now" [ngClass]="{'select': category == (state$ | async).first}" (click)="selectCategory(category)"
      *ngFor="let category of (state$ | async).categories">
      {{ category }}</div>
  </ul>
  <div class="slider mt-5">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let service of (state$ | async).services">
        <!-- <div class="img-slider">
          <div class="the-img-slider d-block">
            <div class="slider-img">
              <img [src]="
                  service.image
                    ? service.image
                    : '../../../../assets/OGF9H290.png'
                " alt="" />
              <span class="icon">
                <mat-icon>favorite_border</mat-icon>
                <em class="add-list">add to wishlist</em>
              </span>
            </div>
            <span class="descound" *ngIf="service.offer">
              {{ service.offer }}
            </span>
            <div class="detil">
              <h6>{{ service.name }}</h6>
              <span>Starts from</span>
              <h3>{{ service.price }}</h3>
              <h5>
                {{ service.neighborhood }}
                <em>
                  <mat-icon>people_outline</mat-icon>{{ service.max_capacity }}
                </em>
              </h5>
            </div>
          </div>
        </div> -->
        <app-the-horizental-venue-result [service]="service"></app-the-horizental-venue-result>
      </ng-template>
    </owl-carousel-o>
  </div>
  <div class="show-more" i18n="@@showmore">Show More <i class="fa fa-chevron-right"></i></div>
  <!-- **************************************** -->
</div>