.payment-option {
  width: 450px;
  position: relative;
}
.payment-option span {
  display: block;
  font-size: 14px;
  color: #00000099;
  margin: 10px 0;
}
em.name {
  color: #424242;
    font-size: 15px
}
.save-edite-changes {
  padding: 10px 13px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  color: #505050ee;
}
.save-edite-changes.active {
  background: #24A2A3;
  color: #fff;
  text-align: center;
}
em.name input {
  border: none;
  background: #fff !important;
}