.Package-Contain-tittle >span {
  font-size: 25px;
  color: #00000099;
  font-weight: 600;
  display: block;
  font-family: Sansita;
  margin-bottom: 25px;
}
.Package-Contain-card >span {
  font-size: 22px;
  color: #00000099;
  font-family: Sansita;
  margin-bottom: 30px;
  display: block;
  font-weight: 600;
}