<div class="Package-Contain-tittle mt-5">
  <span>This Package Contain</span>
  <div class="Package-Contain-card mt-5">
    <span>1- Venue</span>
    <app-package-contain-glories-card></app-package-contain-glories-card>
  </div>
  <!-- *********************** -->
  <div class="Package-Contain-card mt-5">
    <span>2- Catering</span>
    <app-package-contain-glories-card></app-package-contain-glories-card>
    <app-package-contain-glories-card class="mt-4 d-block"></app-package-contain-glories-card>
  </div>
   <!-- *********************** -->
</div>