.Forgot-password span{
  color: #24A2A3;
  text-decoration: underline;
}
.Birthday-tittel {
  text-align: center;
  color: #000;
  margin: 15px 0;
  font-size: 20px;
}
.notis {
  text-align: center;
  color: #00000080;
  font-size: 12px;
  line-height: 17px;
  a{
    color: #24A2A3;
    text-decoration: underline;
  }
}