.this-Packages-img {
  width: 470px;
  height: 270px;
}
.all-detile{
  margin: 0 20px;
}
.Packages-detiels >span {
  display: block;
  color: #000000;
  font-size: 18px;
  margin: 10px 0;
  font-weight: 500;
}
.Packages-detiels >em {
  color: #00000080;
  font-size: 12px;
  margin: 3px 0;
  display: block;
}
.Packages-detiels p {
  color: #000000;
  font-size: 12px;
}
.the-all-offers{
  border-left: 1px solid #b3b3b34f;
}
.last-new-offers {
  padding-top: 100px;
  margin: 0 30px;
}
.last-new-offers span.last-offer {
  display: block;
}
.last-new-offers span.new-offer {
  margin: 10px 0;
  display: block;
}
span.last-offer {
  color: #0000004D;
  text-decoration: line-through;
}
span.new-offer {
  margin: 0 10px;
  color: #000000;
  font-weight: 600;
  font-size: 18px;
}