<div class="order-conteiner">
  <span>Orders</span>
  <div class="the-order border   mt-2 first-order" style="border-radius: 10px;">
    <div class="order-title w-100 d-flex justify-content-between p-3 align-items-center">
      <div class="left-side-order-title d-flex  ">
        <span>Order Placed on: Mon, 15 Jun 2020</span>
        <em style="display: inline-block; width: 30px;"></em>
        <span>Order ID: #21675</span>
      </div>
      <div class="right-side-order-title">
        <span>Recipient: Mohamed Harfoush</span>
      </div>
    </div>
    <div class="order-top-option d-flex justify-content-between w-100 p-3">
      <div class="left-side d-flex">
        <div class="order-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="order-detile d-flex justify-content-between">
          <div class="left-side-order">
            San Stifano Hotel
          </div>
          <div class="right-side-order">
            <span>Venue</span>
            <em style="display: inline-block; width: 30px; text-align: center;">|</em>
            <span>Open Air - Villa</span>
          </div>
        </div>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken <em>x2</em></span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side w-25">
       <span class="sm-tittel ">Status</span>
       <div class="order-option mt-3">
        <label class="control control--checkbox">Order Placed
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Vendor Confirmation
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Pay Total Amount
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Reserved
          <div class="control__indicator"></div>
        </label>
       </div>
      </div>
    </div>
    <div class="order-dawn-option d-flex justify-content-start p-3">
      <div class="botn-Continue ">
        <span>Cancel</span>
      </div>
    </div>
    <span class="bord-btm "></span>
  <!-- </div> -->
  <!-- *************************** -->
  <!-- <div class="the-order border   mt-2" style="border-radius: 10px;"> -->
   
    <div class="order-top-option d-flex justify-content-between w-100 p-3">
      <div class="left-side d-flex">
        <div class="order-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="order-detile d-flex justify-content-between">
          <div class="left-side-order">
            San Stifano Hotel
          </div>
          <div class="right-side-order">
            <span>Venue</span>
            <em style="display: inline-block; width: 30px; text-align: center;">|</em>
            <span>Open Air - Villa</span>
          </div>
        </div>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken <em>x2</em></span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side w-25">
       <span class="sm-tittel ">Status</span>
       <div class="order-option mt-3">
        <label class="control control--checkbox">Order Placed
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Vendor Confirmation
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Pay Total Amount
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Reserved
          <div class="control__indicator"></div>
        </label>
       </div>
      </div>
    </div>
    <div class="order-dawn-option d-flex justify-content-start p-3">
      <div class="botn-Continue ">
        <span>Cancel</span>
      </div>
    </div>
    <span class="bord-btm "></span>
    <!-- *************************** -->
    <div class="last-btm-order d-flex justify-content-between align-items-center p-3 mt-3">
      <div class="left-last-btm-order d-flex align-items-center">
        <div class="cancel-order"> Cancel Order </div>
        <em style="display: inline-block; width: 20px;"></em>
        <div class="Order-Details">Order Details</div>
        <em style="display: inline-block; width: 20px;"></em>
        <div class="Pay-order">Pay full amount <span>(2 days left)</span></div>
      </div>
      <div class="right-last-btm-order d-flex">
        <div>Total</div>
        <em style="display: inline-block; width: 50px;"></em>
        <div>10,000EGP</div>
      </div>
    </div>
    <!-- ***************************** -->
  </div>
  <!-- ***************************************scound-order******************** -->
  <div class="the-order border   mt-4 scound-order" style="border-radius: 10px;">
    <div class="order-title w-100 d-flex justify-content-between p-3 align-items-center">
      <div class="left-side-order-title d-flex  ">
        <span>Order Placed on: Mon, 15 Jun 2020</span>
        <em style="display: inline-block; width: 30px;"></em>
        <span>Order ID: #21675</span>
      </div>
      <div class="right-side-order-title">
        <span>Recipient: Mohamed Harfoush</span>
      </div>
    </div>
    <div class="order-top-option d-flex justify-content-between w-100 p-3">
      <div class="left-side d-flex">
        <div class="order-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="order-detile d-flex justify-content-between">
          <div class="left-side-order">
            San Stifano Hotel
          </div>
          <div class="right-side-order">
            <span>Venue</span>
            <em style="display: inline-block; width: 30px; text-align: center;">|</em>
            <span>Open Air - Villa</span>
          </div>
        </div>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken <em>x2</em></span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side w-25">
       <span class="sm-tittel ">Status</span>
       <div class="order-option mt-3">
        <label class="control control--checkbox">Order Placed
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Vendor Confirmation
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox Cancelled">User Cancelled
          <div class="control__indicator"></div>
        </label>
        <div class="Reason">
          <span>Reason</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
       </div>
      </div>
    </div>
    <!-- <div class="order-dawn-option d-flex justify-content-start p-3">
      <div class="botn-Continue ">
        <span>Cancel</span>
      </div>
    </div> -->
    <span class="bord-btm "></span>
    <!-- *************************** -->
    <div class="last-btm-order d-flex justify-content-between align-items-center p-3 mt-3">
      <div class="left-last-btm-order d-flex align-items-center">
        <div class="Order-Details">Order Details</div>
      </div>
      <div class="right-last-btm-order d-flex">
        <div>Total</div>
        <em style="display: inline-block; width: 50px;"></em>
        <div>10,000EGP</div>
      </div>
    </div>
   </div>
  <!-- *************************** -->
  <div class="the-order border   mt-4 scound-order" style="border-radius: 10px;">
   
    <div class="order-top-option d-flex justify-content-between w-100 p-3">
      <div class="left-side d-flex">
        <div class="order-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="order-detile d-flex justify-content-between">
          <div class="left-side-order">
            San Stifano Hotel
          </div>
          <div class="right-side-order">
            <span>Venue</span>
            <em style="display: inline-block; width: 30px; text-align: center;">|</em>
            <span>Open Air - Villa</span>
          </div>
        </div>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken <em>x2</em></span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken <em>x2</em></span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side w-25">
       <span class="sm-tittel ">Status</span>
       <div class="order-option mt-3">
        <label class="control control--checkbox">Order Placed
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox">Vendor Confirmation
          <div class="control__indicator"></div>
        </label>
        <label class="control control--checkbox Cancelled">Vendor Cancelled
          <div class="control__indicator"></div>
        </label>
        <div class="Reason">
          <span>Reason</span>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
       </div>
      </div>
    </div>
    <!-- <div class="order-dawn-option d-flex justify-content-start p-3">
      <div class="botn-Continue ">
        <span>Cancel</span>
      </div>
    </div> -->
    <span class="bord-btm "></span>
    <!-- *************************** -->
    <div class="last-btm-order d-flex justify-content-between align-items-center p-3 mt-3">
      <div class="left-last-btm-order d-flex align-items-center">
        <div class="Order-Details">Order Details</div>
      </div>
      <div class="right-last-btm-order d-flex">
        <div>Total</div>
        <em style="display: inline-block; width: 50px;"></em>
        <div>10,000EGP</div>
      </div>
    </div>
    <!-- ***************************** -->
  </div>
</div>