.Glories-package-tittle {
  span {
    color: darkgrey;
    a{
      color: darkgrey;
    }
  }
  .mat-icon {
    position: relative;
    top: 1px !important;
    font-size: 18px;
    color: darkgrey;
    cursor: pointer;
  }
}