<div class="sign-form" style="background: #fff;" >
  <form>
    <div class="form-group mb-4">
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group mb-4">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary w-100" style="background:#24A2A3 ;">Continue</button>
  </form>
  <!-- <div class="Forgot-password mt-3" (click)="active=true" >
    <span>Forgot password?</span> 
  </div> -->
  <!-- <div class="new-sign-In mt-3">
    <span class="OR">Or</span>
    <div class="more-option-sign mt-4">
      <div class="google-sign d-flex">
        <span class="google-img ">
          <img src="assets/Google.svg.png" alt="">
        </span>
        <span class="google-Continue ">Continue with Google</span>
      </div>
    </div>
     ****************** 
    <div class="more-option-sign mt-4">
      <div class="Facebook-sign d-flex">
        <span class="google-img ">
          <img src="assets/facebook.svg" alt="">
        </span>
        <span class="Facebook-Continue ">Continue with Facebook</span>
      </div>
    </div>
  </div> -->
</div>
