.NewIcon .slider .icon {
  left: 7px !important;
  right: unset !important;
}
.NewIcon .show-more i{
  transform: rotate(175deg)
}
.NewIcon .slider 
span.descound {
  right: 8px !important;
  left: auto !important;
}
.NewIcon .slider .icon em.add-list{
  left: 0 !important;
  transform: translateX(-10px) !important;
  text-align: right !important;
}
.NewIcon .slider .detil{
  text-align: right;
  h5{
    margin: 17px 0;
  }
}
// ***************************************medi-screen*********************************************
@media only screen and (max-width: 1680px) and (min-width: 1280px) {
  .slider-img .icon{
    top: 12px;
    right: 3px;
    margin: 0;
    width: 30px;
    height: 30px;
  }
  .icon:before {
    content: '';
    position: absolute;
    top: -8px;
    right: 0px;
    background: #ffffffb3;
    width: 35px;
    height: 35px;
    border-radius: 19px;
    z-index: -1;
  }
  em.add-list{
    right: -3px;
    top: -1px;
  }
  span.descound{
    position: absolute;
    top: 40px;
    direction: rtl;
    right: 9px !important;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 36px;
    background: #f48271;
    margin: 0;
    line-height: 36px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 0px 3px;
    left: auto;
  }
 }