<div class="Wishlist-page">
  <div class="the-wish-type d-flex justify-content-between mb-5">
    <div class="Wishlist-side d-flex">
      <span>Wishlist </span>
      <em>Item saved (3)</em>
    </div >
    <div class="sort-by">
      Sort by: 
      <select >  Type
        <option value="">Type</option>
        <option value="">height</option>
        <option value="">low</option>
      </select>
    </div>
  </div>
  <div class="wishlist-detiles ">
    <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
    <!-- *********************** -->
    <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
     <!-- *********************** -->
     <div class="wishlist-type d-flex justify-content-between mt-3 mb-3">
      <div class="wishlist-detiles-img ">
        <div class="wishlist-img">
          <img src="assets/OGF9H390.png" alt="">
        </div>
        <div class="wishlist-option-detiles">
          <div class="wishlist-option">
            <span>Royal Wedding Hall</span>
            <em>Hotel</em>
          </div>
          <div class="wishlist-btn d-flex ">
            <span  (click)="type = 'opened'" [ngClass]="{'active': type === 'opened'}">Reserve</span>
            <em style="width: 20px; display: inline-block;"></em>
            <span (click)="type = 'closed'" [ngClass]="{'active': type === 'closed'}">Remove</span>
          </div>
        </div>
      </div>
      <div class="wishlist-money">
        <em>Starts from</em>
        <span>12,000 EGP</span>
      </div>
    </div>
  </div>
 <div class="the-next d-flex justify-content-center mt-5">
    <div class="next-page">
      <span class="active">1</span>
      <span>2</span>
      <span>3</span>
      <span>4</span>
      <span>5</span>
      <span>Next</span>
    </div>
 </div>
 <div class=" Discover-more  d-flex mt-5" >
  <a routerLink="/CateringServices" class="w-25 mb-3">
  <app-card-services></app-card-services>
   </a>
  <a routerLink="/CateringServices" class="w-25 mb-3">
    <app-card-services ></app-card-services>
  </a>
  <a routerLink="/CateringServices" class="w-25 mb-3">
    <app-card-services ></app-card-services>
  </a>
  <a routerLink="/CateringServices" class="w-25 mb-3">
    <app-card-services ></app-card-services>
  </a>
   </div>
</div>