<div class="edit-pass" style="background: #fff;">
  <span>Forgot password</span>
  <div class="code-sending mt-5">
    <span>Enter the code just sent to you..</span>
    <form >
      <div class="form-group mb-4">
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-2" style="background:#24A2A3 ;">Send reset link</button>
    </form>
    <div class="code-send mt-4">
      <span>Didn’t get a text? <a href="">Send again</a></span>
    </div>
  </div>
</div>