.edit-pass>span {
  text-align: center;
  display: block;
  color: #000000BF;
  font-size: 22px;
  font-family: Helvetica;
  font-weight: bold;
  border-bottom: 1px solid #bfbfbf9e;
  padding-bottom: 30px;
}
.code-sending >span {
  text-align: center;
  display: block;
  color: #00000099;
  font-size: 20px;
  margin-bottom: 30px;
  font-family: Helvetica;
}
.code-send span {
  color: #000000BF;
  font-size: 18px;
  font-family: Helvetica;
}
.code-send span >a {
  color: #24A2A3;
  text-decoration: underline;
}