<div class="unfinished-conteiner">
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
  <div class="unfinished border  p-5 mt-2" style="border-radius: 10px;">
    <div class="unfinished-top-option d-flex justify-content-between w-100">
      <div class="left-side d-flex">
        <div class="unfinished-img">
          <img src="assets/OGF9H92.png" alt="">
        </div>
      <div class="detiles">
        <div class="unfinished-detile d-flex">
          <span>Venue</span>
          <em>|</em>
          <span>Open Air - Villa</span>
        </div>
        <span class="sm-tittel d-block">Royal Majestic Queen Marry Hall</span>
        <div class="Add-ons">
          <span>Add-ons</span>
          <div class="The-Add-ons">
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
           <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
            <!-- ****** -->
            <div class="Add-ons-detiels">
              <img src="assets/OGF9H92.png" alt="">
              <span>Extra Chicken x2</span>
             </div>
              <!-- ****** -->
           <div class="Add-ons-detiels">
            <img src="assets/OGF9H92.png" alt="">
            <span>Extra Chicken x2</span>
           </div>
          </div>
        </div>
        <div class="morre">
          +3more
        </div>
      </div>
      </div>
      <div class="right-side ">
        <div class="date">
          12/12/2012
        </div>
        <div class="money">
          10,000EGP
        </div>
      </div>
    </div>
    <div class="unfinished-dawn-option d-flex justify-content-center">
      <div class="botn-Continue ">
        <span>Continue booking</span>
      </div>
      <div class="All-prices ">
        (All prices Inclusive of VAT)
      </div>
    </div>
  </div>
  <!-- *************************** -->
</div>