.menu{
 margin: 0;
  li {
    width: max-content;
    margin: 0px 30px;
    font-size: 14px;
    color: gray;
    cursor: pointer;
    display: flex;
    list-style: none;
    line-height: 23px;
    padding: 6px 6px;
    border-radius: 5px;
    &:hover {
      background: #e0e0e0;
    }
    em {
      width: 10px;
    }
  }
}
// ***************************************medi-screen*********************************************
@media only screen and (max-width:1280px)
{
  .menu li{
    margin: 0 4px !important;
  }
}
// **********************************end-width-1280
@media only screen and (max-width: 1680px) and (min-width: 1290px) {
  .menu li{
    margin: 0 10px !important;
  }
}
