<div class="new-sign-In mt-3">
  <span class="OR">Or</span>
  <div class="more-option-sign mt-4">
    <div class="google-sign d-flex">
      <span class="google-img ">
        <img src="assets/Google.svg.png" alt="">
      </span>
      <span class="google-Continue ">Continue with Google</span>
    </div>
  </div>
  <!-- ****************** -->
  <div class="more-option-sign mt-4">
    <div class="Facebook-sign d-flex">
      <span class="google-img ">
        <img src="assets/facebook.svg" alt="">
      </span>
      <span class="Facebook-Continue ">Continue with Facebook</span>
    </div>
  </div>
</div>