<div class="container d-flex mb-5" *ngIf="events" [ngClass]="{ NewNiew: lang == 'ar' }" [dir]="dir">
  <a routerLink="/Wedding">
    <div class="images one">
      <span class="svg-img">
        <img [src]="leftBanner?.image" alt="" />
      </span>

      <a class="btn-img d-flex justify-content-center" routerLink="/Wedding" i18n="@@bntdiscover">
        Discover more
      </a>
      <!-- <h4 class="fisrt-child">{{ leftBanner.name }}</h4> -->
    </div>
  </a>
  <span class="w-16"></span>
  <div class="images two">
    <span class="svg-img">
      <img [src]="middleBanner?.image" alt="" />
    </span>

    <a class="btn-img d-flex justify-content-center" routerLink="/Wedding" i18n="@@bntdiscover">

      Discover more
    </a>
    <!-- <h4>{{ middleBanner.name }}</h4> -->
  </div>
  <span class="w-16"></span>
  <div class="images three">
    <div class="top-img the-img">
      <span class="svg-img">
        <img [src]="upperRight?.image" alt="" />
      </span>

      <a class="btn-img d-flex justify-content-center" routerLink="/Wedding" i18n="@@bntdiscover">

        Discover more
      </a>
      <!-- <h4>{{ upperRight.name }}</h4> -->
    </div>
    <div class="botm-img the-img">
      <span class="svg-img">
        <img [src]="bottomRight?.image" alt="" />
      </span>

      <a class="btn-img d-flex justify-content-center" routerLink="/Wedding" i18n="@@bntdiscover">

        Discover more
      </a>
      <!-- <h4>{{ bottomRight.name }}</h4> -->
    </div>
  </div>

</div>