<div class="footer w-100">
  <div class="head">
    <div class="details">
      <div class="option-detail">
        <ul>
          <h5>Explore</h5>
          <li>
            <a href="#">
              Venues
            </a>
          </li>
          <li><a href="#">Hotel Halls</a></li>
          <li><a href="#">Yachts & Boats</a></li>
          <li><a href="#">Coworking Spaces</a></li>
          <li><a href="#">Restaurant</a></li>
          <li><a href="#">Wedding Cake</a></li>
        </ul>
        <ul>
          <h5>Know us</h5>
          <li><a href="#">About us</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#" target="_blank">Blog</a></li>
        </ul>
        <ul>
          <h5>Make money</h5>
          <li><a href="#">Affiliate program</a></li>
          <li><a href="#">Sell with us</a></li>
        </ul>
      </div>

      <div class="social-detail">
        <div class="help-center">
          <div>
            <mat-icon>info_outline</mat-icon>
          </div>
          <div>
            <h3>Help center</h3>
            <h6>We are there for you…</h6>
          </div>
        </div>
        <h5>Reach us everywhere</h5>
      </div>
    </div>
    <div class="end">
      <ul class="detail">
        <em>
          <img src="../../../../../assets/component (19).png" /> 2020 Evntoo,
          LCC. All rights reserved</em>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Sitemap</a></li>
        <li>
        </li>
      </ul>
      <div class="social">
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-facebook-f"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-twitter"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-instagram"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>