<div class="footer w-100" [ngClass]="{ NewNiew: lang == 'ar' }" [dir]="dir">
  <div class="head" >
    <div class="details" [ngClass]="{ style: lang == 'ar' }" [dir]="dir">
      <div class="option-detail">
        <ul>
          <h5 i18n="@@lastexplore">Explore</h5>
          <li>
            <a href="#" i18n="@@tvenues">
              Venues
            </a>
          </li>
          <li><a href="#" i18n="@@hotelhalls">Hotel Halls</a></li>
          <li><a href="#" i18n="@@yachts">Yachts & Boats</a></li>
          <li><a href="#" i18n="@@coworkingspaces">Coworking Spaces</a></li>
          <li><a href="#" i18n="@@restaurant">Restaurant</a></li>
          <li><a href="#" i18n="@@weddingcake">Wedding Cake</a></li>
        </ul>
        <ul>
          <h5 i18n="@@knowus">Know us</h5>
          <li><a href="#" i18n="@@aboutus">About us</a></li>
          <li><a href="#" i18n="@@howworks">How it works</a></li>
          <li><a href="#" target="_blank" i18n="@@blog">Blog</a></li>
        </ul>
        <ul>
          <h5 i18n="@@makemoney">Make money</h5>
          <li><a href="#" i18n="@@affiliateprogram">Affiliate program</a></li>
          <li><a href="#" i18n="@@33eb65b6026a97fa2fcec38045707db31bd2eb76">Sell with us</a></li>
        </ul>
      </div>

      <div class="social-detail">
        <div class="help-center" [ngClass]="{ Newstyle: lang == 'ar' }" [dir]="dir">
          <div>
            <mat-icon>info_outline</mat-icon>
          </div>
          <div>
            <h3 i18n="@@helpcenter">Help center</h3>
            <h6 i18n="@@wearethereforyou">We are there for you…</h6>
          </div>
        </div>
        <h5 i18n="@@reachus">Reach us everywhere</h5>
      </div>
    </div>
    <div class="end">
      <ul class="detail" >
        <em i18n="@@allrightsreserved">
          <img src="assets/component (19).png" /> 2020 Evntoo,
          LCC. All rights reserved</em>
        <li><a href="#" i18n="@@privacyPolicy">Privacy Policy</a></li>
        <li><a href="#" i18n="@@Terms">Terms & Conditions</a></li>
        <li><a href="#" i18n="@@sitemap">Sitemap</a></li>
        <li>
        </li>
      </ul>
      <div class="social">
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-facebook-f"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-twitter"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-instagram"></i>
        </a>
        <em></em>
        <a href="#" target="_blank" mat-icon-button>
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</div>